<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>bolaget.io - RESTful JSON API for Swedish alcohol monopoly, Systembolaget.</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
  <style>
    html,
    body {
      height: 100vh;
      margin: 0;
      padding: 0 1rem;
      font-family: 'Nunito';
      color: rgb(255, 255, 255);
    }

    body {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: rgba(14, 119, 248, 1);
      background: linear-gradient(to bottom, rgba(12, 119, 248, 1) 0, rgba(52, 116, 251, 1) 60%, rgba(130, 108, 255, 1) 100%);
    }

    main,
    footer {
      max-width: 50rem;
      text-align: center;
    }

    h1 {
      margin-bottom: 2rem;
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 2rem;
    }

    a {
      display: inline-block;
      apperance: none;
      background: transparent;
      border: solid 3px rgb(255, 255, 255);
      border-radius: 3rem;
      padding: 2rem;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 1rem;
      transition: all ease-in-out .1s;
    }

    a:hover {
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
  </style>
</head>

<body>
  <main>
    <h1>bolaget.io - RESTful JSON API for Swedish alcohol monopoly, Systembolaget.</h1>
    <a href="https://github.com/larsha/bolaget.io">View docs on GitHub</a>
  </main>
</body>

</html>
